.imageContainer {
  position: relative;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  gap: 32px;
}

.contentHeading {
  font-size: 64px;
  font-weight: 900;
  margin-bottom: 20px;
  max-width: 70%;
  line-height: 1;
}

.button {
  background-color: #000;
  border: 1px solid #5c5c5c;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  width: 150px;
  font-size: medium;
}

.button:hover {
  background-color: #fff;
  color: #000;
}
